<!DOCTYPE html>
<link rel="stylesheet" href="/css/index.css">
<html>
  <head>
  <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <p id="details"> THE ITEM PRICE IS :<%= price %></p>
    <p id="details"> THE DISTANCE IS :<%= dist %> KM</p>
    <p id="details"> THE TOTAL TIME IS :<%= timeHR%> HR</p>
    <p id="details"> THE TOTAL DAYS IS :<%= Days%> </p>
    <p id="details2gr"> THE CARBON EMISSION WITH TRUCK IS  :<%= CARB_TRUCK%> KG</p> 
    <p id="details2rd"> THE CARBON EMISSION WITH PLANE IS  :<%= CARB_PLANE%> KG</p>
    <p id="details3rd"> THE CARBON OFFSETS PRICE  WITH PLANE IS  :<%= CARB_Pprice%> Rs</p>
    <p id="details3gr"> THE CARBON OFFSETS PRICE WITH TRUCK IS  :<%= CARB_Tprice%> Rs</p>
    <p id="details4br"> DISCOUNT GENERATED :<%= discount%> %</p>
    <p id="details4br"> AMOUNT GOES TO CUSTOMER :<%= Customer%> Rs</p>
    <p id="details4br"> AMOUNT GOES TO CARBTRADE :<%= Carb%> Rs</p>
    <p id="details4br"> AMOUNT GOES TO COMPANY :<%= Comp%> Rs</p>
  </body>
</html>